<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>VoiceToSolid Session</title>
	 <style>


        body {
            margin: 0;
        }

        canvas {
            width: 100%;
            height: 100%;
        }
    </style>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
	<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md fixed-top navbar-custom" style="background-color: #ff165d;">
        <div class="container-fluid"><i class="fa fa-angellist" style="color: #ffffff;padding-right: 15px ;"></i><a class="navbar-brand" href="#">Voicetosolid</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarResponsive"><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto" style="color: #ffffff;">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/" style="color: #ffffff;">home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/aboutus" style="color: #ffffff;">About us</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/signup" style="color: #ffffff;">Sign Up</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/login" style="color: #ffffff;">Log In</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <section class="text-center" style="margin-top: 80px;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 col-xl-12 offset-xl-0 order-lg-1">
                    <div class="p-3">
                        <h3 class="text-center display-4" style="color: #ff165d;font-size: 40px;"><strong>Welcome</strong></h3>
                        <p class="text-center">Just press the&nbsp;<strong>RED BUTTON</strong>&nbsp;below to record a command, in order to show it in the Canvas.<br></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
			<canvas id="c">
			</canvas>
			<p id="outputAPI"></p>
            <div class="row align-items-center">
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 order-lg-2">
                    <div><button class="btn btn-primary btn-lg" id="recordbtn" type="button" style="background-color: #ff165d;padding: 30px;padding-left: 60px;padding-right: 60px;margin-bottom: 10px;">RECORD</button>
                        <div><button class="btn btn-primary" id="cleanbtn" type="button" style="margin: 5px;background-color: rgb(33,139,245);">CLEAN</button><button class="btn btn-primary" id="deletebtn" type="button" style="margin: 5px;background-color: rgb(33,139,245);">DELETE LAST</button></div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 order-lg-2">
                    <div><input type="text" id="projectname" placeholder="Project name" value="default_project">
                        <div><button class="btn btn-primary" type="button" id="savebtn" style="margin: 5px;background-color: rgb(33,139,245);">SAVE</button></div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 order-lg-2">
                    <div>
                        <p class="text-left"><strong>AVAILABLE COLORS:</strong><br></p>
                    </div>
                    <ul>
                        <li class="text-left">RED</li>
                        <li class="text-left">YELLOW</li>
                        <li class="text-left">BLUE</li>
                        <li class="text-left">ORANGE</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <footer class="py-5" style="background-color: rgb(33,139,245);">
        <div class="container">
            <p class="text-center text-white m-0 small" style="font-size: 17px;">Holberton School © 2019</p>
        </div>
    </footer>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
	<script type="module" src="/scripts/home2.js"></script>
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script type="module" src="/scripts/client-app.js"></script>
	<script src="/scripts/ammo.js"></script>
</body>

</html>