<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>VoiceToSolid</title>
	    <style>


        body {
            margin: 0;
        }

        canvas {
            width: 100%;
            height: 100%;
        }
    </style>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="container text-center">
        <header>
            <h1>Welcome to VoiceToSolid!</h1>
        </header>
        <hr>
        <p>HOW TO USE:</p>
        <p style="color: rgb(0,0,0);">Just press the&nbsp;<strong>RED BUTTON</strong>&nbsp;below to record a command, in order to show it in the Canvas.</p>
        <hr>
		<canvas id="c">
		</canvas>
		<button class="btn btn-primary" type="button" style="background-color: rgb(255,0,0);margin: 0px;width: 211px;padding: 23px;" id="recordbtn"">RECORD</button>
        <hr>
        <div class="row">
            <div class="col offset-xl-0">
                <p>Available Colors:</p>
                <ul>
                    <li>RED</li>
                    <li>YELLOW</li>
                    <li>BLUE</li>
                    <li>ORANGE</li>
                </ul>
            </div>
        </div><button class="btn btn-primary text-center" type="button" style="width: 220px;height: 80px;margin-right: 0;margin-top: 7PX;">SAVE PROJECT</button><button class="btn btn-primary text-center" type="button" style="width: 220px;height: 80px;margin-right: 0;margin-top: 7px;">OPEN PROJECT</button>
        <hr>
    </div>
	<script type="module" src="/scripts/home2.js"></script>
</body>

</html>